.chart {
    $text_color: antiquewhite;
    $backgroundcolor: #141629;
    $tooltip-label_color: blueviolet;
    $bar-color: grey;

    padding: 1em;
    margin:1em;
    border-radius: 20px;

    background: $backgroundcolor;

    h6 {
        color: $text_color;
    }

    text {
        fill: $text_color;
    }

    tspan {
        fill: $text_color;
    }

    .react-stockcharts-tooltip-label {
        fill: $tooltip-label_color;
    }

    line {
        stroke: $text_color;
    }

    path {
        stroke: $bar-color;
    }

    rect {
        stroke: $bar-color;
    }
}