@import './../../../assets/styles/general';



.index-component {
    @include component-color;
    @include component-spacing;

    .index-header {
        @include component-header-color;
    }
    .border-radius-20 {
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 0 !important;
    }
    .chart-index {
        margin-top: 3em;
    }
    .index-score {
        max-width: 200px;
    }

}