.search-bar input {
    background-color:#292C3A ;
    color:white;
}
.search-bar input:focus {
    background-color:#292C3A ;
    color:white;
}
.auto-complete {
    background-color:#292C3A ;
    color:white;
}
#stock-search {
    background-color:#292C3A ;
}