@import './../../../assets/styles/general';


.tree-panel-toggle {
    .separator-bar {
        width: 250px;
        max-width: 250px;
        display: inline-block;
    }

    .chart-container {
        width: 30%;
    }


    .bart-chart {
        width: 70%;
    }

    .data-entry {
        max-width: 30em;
    }

}