@import './../../../assets/styles/general';


.tree-panel-toggle {

    .chart-container {
        width: 30%;
    }


    .bart-chart {
        width: 70%;
    }

    .data-entry {
        max-width: 30em;
    }

}