@import './../../../assets/styles/general';

.stock-details {
    @include component-style;

    .accordion-item {
        @include component-color;
        border: $border-accordion-color 1px solid !important;
    }
    .accordion-header,
    .accordion-button {
        @include component-color;
        @include component-header-color;
        font-weight: bold;
    }
    .accordion-button::after {
        color: $component-text-color;
    }
    .alert-secondary,
    .accordion-body,
    .accordion-button {
        @include component-color;
    }
    .nav-link,
    .nav-item,
    .nav-tabs {
        background-color: $component-background-color !important;
        color: $component-header-text-color !important;
        font-weight: bold;
    }
    .nav-tabs {
        border-bottom: $border-accordion-color 1px solid !important;
    }
}