$backgroundcolor: #141629;
.brief-board {
    padding: 1em;
    margin:1em;
}
.card {
    background: $backgroundcolor;
    padding: 1em;
    margin:1em;
    border-radius: 20px;
}
.card-body {
    border-radius: 20px;
    color:white;
    border-radius: 20px;
}
