@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --sectionbg: #1e1e2f;
  --dark: #000;
  --lightpink: #e14eca;
  --clearyellow: #FFD700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark) !important;
}

.section-bg { background-color: var(--sectionbg) !important; }
.dark-bg { background-color: var(--dark) !important; }
.light-pink-color { color: var(--lightpink) !important; }
.clear-yellow { color: var(--clearyellow) !important; }
.font-pacifico { font-family: 'Pacifico', cursive; }
.border-radius-20 { border-radius: 20px; }