/*$component-text-color: antiquewhite;*/
$component-text-color: white;
/*$component-background-color: #141629;*/
$component-background-color: rgb(29, 26, 26);
/*$chart-tooltip-label-color: blueviolet;*/
$chart-tooltip-label-color: #FFD700;
$chart-bar-color: grey;
/*$body-background-color:black;*/
$body-background-color:#1e1e2f;
$search-menu-hover:#25294e;

@mixin component-color {
    background-color: $component-background-color;
    color: $component-text-color;
}