$component-text-color: white;
$component-background-color: rgb(29, 26, 26);
$component-header-text-color: #FFD700;
$chart-tooltip-label-color:$component-header-text-color;
$chart-bar-color: grey;
$body-background-color:#1e1e2f;
$search-menu-hover:#25294e;
$border-accordion-color: rgb(66, 66, 66);

@mixin component-color {
    background-color: $component-background-color ;
    color: $component-text-color ;
}

@mixin component-header-color {
    background-color: $component-background-color ;
    color: $component-header-text-color ;
}

